html, body {
    width: 100%;
    overflow-x: hidden;
}
.banner {
    height: 500px;
    background: url("../img/cover_banner.jpg") no-repeat center;
    background-size: cover;
}

.find_place{
    background-color: rgba(0,0,0,.6);
}
.find_place h2, .find_place span{
    margin: 2%;
    font-weight: bold;
    color: #ffffff;
}

/* Styles for wrapping the search box */
.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 0.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    right: 0;
}
/* End: Styles for wrapping the search box */
  nav > .nav.nav-tabs{
      border: none;
      color:#fff;
      background:#272e38;
      border-radius:0;
  }
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active
{
    border: none;
    padding: 18px 25px;
    color:#fff;
    background:#272e38;
    border-radius:0;
}

nav > div a.nav-item.nav-link.active:after
{
    content: "";
    position: relative;
    bottom: -60px;
    left: -10%;
    border: 15px solid transparent;
    border-top-color: #e74c3c ;
}
.tab-content{
    background: #fdfdfd;
    line-height: 25px;
    border: 1px solid #ddd;
    border-top:5px solid #e74c3c;
    border-bottom:5px solid #e74c3c;
    padding:30px 25px;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
{
    border: none;
    background: #e74c3c;
    color:#fff;
    border-radius:0;
    transition:background 0.20s linear;
}

.drop-icon::after {
    display:none;
}

.activeMenu {
    background-color: gray !important;
    padding-right: 5px !important;
    color: white !important;
    border-radius: 5px !important;
}

